.nav {
  grid-area: n;
  background-color: rgb(150, 127, 255);
  padding: 20px;
}

.item a {
  color: rgb(106, 183, 202);
  text-decoration: none;
}

.item a.activeLink {
  color:rgb(168, 208, 235);
}