.nav {
    grid-area: n;
    background-color: rgb(179, 154, 74);
    padding: 20px;
}

.item a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(202, 211, 81);
}
