.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems{
padding: 10px;
}

.dialogs .active{
    color: rgb(107, 101, 95);
}

.dialog{

}

.messages{
    padding: 10px;
}

.message{

}